{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      },
      "env",
      {
        "targets": {
          "node": "4"
        }
      }
    ]
  ],
  "plugins": []
}
