@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vsc-initialized {
  background-color: #ffe49b;
}

.container {
  font-family: 'Roboto', sans-serif;
  width: 60%;
  margin: 30px auto 0;
  display: block;
  background: #ffffff;
  border: 1px solid #87027b;
  border-radius: 8px;
  padding: 20px;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
